<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.springmvc.domain.community.mapper.CommunityMapper">

    <!-- 출력 [커뮤니티 식별을 위한 클럽번호 / 출력 내용, 이름, 날짜] -->
    <select id="getClubCommunity" parameterType="String" resultType="CommunityDto">
        SELECT community.comm_num, community.comm_content, DATE_FORMAT(community.comm_date,'%m/%d') AS comm_date, community.club_num, community.member_num, member.member_name
        FROM community
                 JOIN member ON community.member_num = member.member_num
        WHERE community.club_num = #{clubNum}
        ORDER BY comm_num ASC
    </select>

    <!-- 커뮤니티(소통공간) 입력(저장)기능 -->
    <insert id="communityCreate" parameterType="CommunityDto">
        INSERT INTO community (comm_content, club_num, member_num)
        VALUES (#{commContent}, #{clubNum}, #{memberNum})
    </insert>

    <!-- 커뮤니티(소통공간) 삭제기능 -->
    <delete id="ClubCommDelete" parameterType="CommunityDto">
        DELETE FROM community
        WHERE comm_num = #{commNum}
    </delete>

</mapper>
